/* =========PRIMARY COLORS========= */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --black-logo-color: #000000;
  --btn-filter-background-color: #f5f4fa;
  --solution-section-color: #2f303a;
  --background-color: #f5f4fa;
}
/* =========/PRIMARY COLORS========= */

/* =========BODY========= */
body {
  color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* =========/BODY========= */

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}
/* ========= HEADER ========= */
.page-header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--accent-color);
}
.page-header-container {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--black-logo-color);
  text-decoration: none;
}
.header-logo-web {
  color: var(--accent-color);
}
/* ========= / HEADER ========= */

/* ========= NAVIGATION ========= */

.navigation {
  display: flex;
  column-gap: 50px;
}

.mail-phone-link {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
}

.navigation .link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.contact-mail {
  margin-left: auto;
}

.navigation .link:focus,
.navigation .link:hover {
  color: var(--accent-color);
}

.navigation .link.curent {
  color: var(--accent-color);
}
/* ========= /HEADER ========= */

/* ========= SOLUTION ========= */
.solution-container {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;
  align-items: center;
}

.solution {
  background-color: var(--solution-section-color);
  height: 600px;
}

.solution-title {
  width: 696px;
}

.solution h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}

.solution-order-button {
  margin-top: 30px;
}

.odrder-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}
/* ========= / SOLUTION ========= */

/* ========= SPECIFICS ========= */
.specifics-container {
  display: flex;
  padding-bottom: 94px;
  padding-top: 94px;
}
.specifics-list {
  display: flex;
  column-gap: 30px;
}
.specifics-list-card {
  flex-basis: calc((100% - 90px) / 4);
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}

.specifics h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.specifics p {
  font-style: normal;
  line-height: 2;
  color: var(--primary-text-color);
}
/* ========= /SPECIFICS ========= */

/* =========  SERVICES ========= */
.services-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 94px;
  align-items: center;
  align-content: start;
}

.services-list-card {
  flex-basis: calc((100% - 60px) / 3);
}

.services-list {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}
/* ========= /SERVICES ========= */

/* ========= TEAM ========= */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color);
}

.section-team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: start;
}

.team-list {
  display: flex;
  margin-top: 50px;
  column-gap: 30px;
}

.team-list-card {
  width: 270px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-bottom {
  padding-top: 30px;
  padding-right: auto;
  padding-left: auto;
  margin-bottom: 30px;
}

/* .team-card-job-title {
  padding-top: 10px;
} */

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2px;
  color: var(--primary-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 10px;
}
/* ========= /TEAM ========= */

/* ========= FOOTER ========= */
.page-footer {
  background-color: var(--solution-section-color);
}

.page-footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.link-address {
  margin-top: 20px;
}
.link-address a {
  font-style: normal;
  font-family: "Roboto";
  line-height: 2;
  color: var(--primary-white-color);
  text-decoration: none;
}
.link-address a:hover,
.link-address a:focus {
  color: var(--accent-color);
}

.bottom-contacts-item {
  margin-top: 9px;
}

.bottom-contacts a {
  font-family: "Roboto";
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
.bottom-contacts a:focus,
.bottom-contacts a:hover {
  color: var(--accent-color);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-white-color);
  text-decoration: none;
}
.footer-logo-web {
  color: var(--accent-color);
}
/* ========= /FOOTER ========= */

/* ==================================== / INDEX HTML========================= */

/* ====================================== PORTFOLIO HTML ==================== */

/* ========= PROJECTS ========= */
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filters-container {
  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.filters button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  background: var(--btn-filter-background-color);
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}
.filters button:hover,
.filters button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* ========= GALERY ========= */

.gallery {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.gallery-card {
  width: 370px;
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
}

.gallery-card-bottom {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background-color: var(--primary-white-color);
}

.gallery h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.gallery p {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
  margin-top: 4px;
}
/* ========= /GALERY ========= */

/* ========= / PORTFOLIO HTML========= */
